*{
    box-sizing: border-box;
    margin: 0;
}
a{ 
    display: block;
    width: 100px;
    height: 40px;
    padding: 10px 5px;
    background-color: rgb(26, 145, 26);
    text-align: center;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    border-radius: 8px;
    text-decoration: none; /*remove o underline do link*/
    color:beige ;

    /*transições (aplicar efeito de suavidade na troca de estilo das propriedades*/
    transition-property:  all;
    transition-duration: 0.2s;
}
/*pseudo classe*/
a:visited{
    background-color: rgb(30, 14, 167);    ;
}
a:hover{
    background-color: rgb(6, 70, 27);  
    transform:  scale(1.1); /*almenta a escala do elemneto em 110%*/
    /* width: 100px;
    height: 45px; */
}
a:active{
    background-color: rgb(243, 78, 12);    
}